.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Toma todo el ancho del viewport */
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #385546;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #385546;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #385546;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue; /* Corregido a solo 'underline' */
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #385546;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: .3s ease; /* Agregada la propiedad de transición */
}

.submit:hover {
  background-color: #183b2a;
}



button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0f0f0f;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #120344;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #7dfa5e;
}

button:active {
  transform: scale(0.9);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos para el campo de selección */
.form label select {
  width: 100%;
  padding: 10px;
  margin-top: 5px; /* Espacio entre el campo de selección y el siguiente elemento */
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  background-color: #f9f9f9; /* Color de fondo gris */
}

.form label select option {
  text-align: center; /* Centrar el texto de las opciones */
}

/* Ajuste del ancho de los campos */
.flex label:nth-child(-n+2) {
  width: 50%;
}